.custom-bg {
  background-color: #f6d050;
}

.custom-shadow {
  box-shadow: 7px 7px 0px 0px black;
}

#mainblock {
  width: 340px;
}

#maintext {
  margin-top: 10px;
}

.custom-badge {
  background-color: #f6d050;
  width: 90px;
}

#description {
  color: grey;
}

.attribution {
  bottom: 10px;
}

#author h4 {
  margin-left: 10px;
}
